{erl_opts, [debug_info]}.

{eunit_opts, [verbose]}.

{edoc_opts, [{doclet, edown_doclet},
             {report_missing_types, true},
             {preprocess, true},
             {app_default, "https://www.erlang.org/doc/man"}
            ]}.

{profiles, [{docs, [{deps,
                     [{edown,
                       {git, "https://github.com/uwiger/edown.git",
                        {branch, "master"}}}
                     ]}]
            }]}.

{plugins, [{rebar3_fmt, "1.18.0"}]}.
