{erl_opts, [debug_info]}.

{eunit_opts, [verbose]}.

%% There are no dependencies by default.
%%
%% However, the profile 'check' includes online dependencies. Run 'rebar3 as
%% check fmt' to check code formatting. This is used by the CI jobs to check
%% code formatting.

{profiles, [{check, [{plugins, [{rebar3_fmt, "1.18.0"}]}]}]}.

{dialyzer, [{plt_extra_apps, [common_test, eunit, public_key]}]}.
