{erl_opts, [debug_info]}.

{eunit_opts, [verbose]}.

%% There are no dependencies by default.
%%
%% However, the profile 'check' includes online dependencies. Run 'rebar3 as
%% check fmt' to check code formatting. This is used by the CI jobs to check
%% code formatting.

{profiles, [{check, [{plugins, [{rebar3_fmt, "1.18.0"}]}]}]}.

%% In OTP-26 the 'unknown function or type' warning is on by default.
%% We disable this again due to missing supervisor types in OTP-26, see:
%% https://github.com/erlang/otp/pull/6893
{dialyzer, [{warnings, [no_unknown]}]}.
