name: CI

on: [push, pull_request]

permissions:
  contents: read

jobs:
  fmt:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Prepare
        run: |
          sudo apt update
          sudo apt install emacs-nox
      - name: Install Erlang/OTP
        uses: erlef/setup-beam@5304e04ea2b355f03681464e683d92e3b2f18451 # v1.18.2
        with:
          otp-version: '26.2.4'
          rebar3-version: '3.23.0'
      - name: erlang-formatter
        run: |
          rebar3 as check fmt
          status="$(git status --untracked-file=no --porcelain)"
          if [ ! -z "$status" ]; \
          then \
             echo "Error: Please format the following files (e.g. run 'rebar3 as check fmt')"; \
             echo "$status"; \
             exit 1; \
          fi

  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install typos
        uses: taiki-e/install-action@c6dc131d2c4291552cafb840290190a53b2cd937 # v2.44.67
        with:
          tool: typos
      - name: Run typos
        run: typos --config=.github/typos.toml

  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - otp-version: '27.1.2'
          - otp-version: '26.2.5.5'
          - otp-version: '25.3.2.15'
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Install Erlang/OTP
        uses: erlef/setup-beam@5304e04ea2b355f03681464e683d92e3b2f18451 # v1.18.2
        with:
          otp-version: ${{ matrix.otp-version }}
          rebar3-version: '3.23.0'
      - name: Install packages for common tests
        uses: awalsh128/cache-apt-pkgs-action@a6c3917cc929dd0345bfb2d3feaf9101823370ad # v1.4.2
        with:
          packages: redis-server faketime
          version: 1.0
      - name: Compile
        run: rebar3 compile
      - name: Run eunit tests
        run: |
          docker run -d --net=host redis
          rebar3 eunit
      - name: Run common tests
        run: rebar3 ct
      - name: Run dialyzer
        run: rebar3 as test dialyzer
