name: DB compatibility testing

on: [push, pull_request]

permissions:
  contents: read

jobs:
  valkey:
    name: Valkey ${{ matrix.valkey-version }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - valkey-version: 7.2.5
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: Install redis-cli required by common tests
        uses: awalsh128/cache-apt-pkgs-action@a6c3917cc929dd0345bfb2d3feaf9101823370ad # v1.4.2
        with:
          packages: redis-server
          version: 1.0
      - name: Install Erlang/OTP
        uses: erlef/setup-beam@5304e04ea2b355f03681464e683d92e3b2f18451 # v1.18.2
        with:
          otp-version: '26.2.4'
          rebar3-version: '3.23.0'
      - name: Build and run common tests
        env:
          REDIS_DOCKER_IMAGE: valkey/valkey:${{ matrix.valkey-version }}
        run: |
          rebar3 ct

  redis:
    name: Redis ${{ matrix.redis-version }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - redis-version: 7.2.4 # Last open source release
          - redis-version: 7.0.15
          - redis-version: 6.2.14
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: Install redis-cli required by common tests
        uses: awalsh128/cache-apt-pkgs-action@a6c3917cc929dd0345bfb2d3feaf9101823370ad # v1.4.2
        with:
          packages: redis-server
          version: 1.0
      - name: Install Erlang/OTP
        uses: erlef/setup-beam@5304e04ea2b355f03681464e683d92e3b2f18451 # v1.18.2
        with:
          otp-version: '26.2.4'
          rebar3-version: '3.23.0'
      - name: Build and run common tests
        env:
          REDIS_DOCKER_IMAGE: redis:${{ matrix.redis-version }}
        run: |
          rebar3 ct
