name: Release

# Only run this workflow on pushed tags.
on:
  push:
    tags:
      - '*'

permissions:
  contents: read

jobs:
  check-version:
    name: Check ered application version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install Erlang/OTP
        uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        with:
          otp-version: '27.1.2'
          rebar3-version: '3.23.0'
      - name: Check if vsn matches pushed tag (see src/ered.app.src).
        run: |
          rebar3 shell --apps ered --eval "$(cat << EOF
          Version = "${{ github.ref_name }}",
          case application:get_key(ered, vsn) of
              {ok, Version} ->
                  halt(0,[]);
              Error ->
                  io:format(user, "Version check failed, got ~p while pushed tag is ~s~n",
                            [Error, Version]),
                  halt(1,[]) %% Version check failed, give exitcode 1.
          end.
          EOF
          )"
